body{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    font-family: Ariel, "Helvetica Neve", Helvetica, sans-serif;
    max-width: 600px;
    font-size: 1.2em;
}
a1{
    margin: 1rem 0;
    font-size: 1.5em;
    display: block;
    text-align: center;
}
body .container{
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

/***nav***/
nav ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    background-color: #333;
   
}
nav ul li {
    border-right: 1px solid #bbb;
    width: 100%;
}

nav ul li:last-child {
    border-right: none;
}
nav ul li button{
    display: block;
    border:none;
    color: white;
    text-align: center;
    width: 100%;
    padding:14px 0;
    font-size: 1em;
    background-color: #333;
    cursor: pointer;
}
nav ul li button:hover{
    background-color: #111;
}
.select {
    background-color: #324fba;
}

/*select area*/
main .mainSelect{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;   
}
.mainSelect select {
    font-size: .9em;
}
.mainSelect span{
    font-weight: bold;
}

/*result section*/
main .resultSelect{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.resultSelect form input,
.resultSelect input.answer{
    font-size: 1.1em; 
    text-align: center;
    max-width: 150px; 
    padding: 8px 0;
    border: 1px solid lightgrey;
    background-color: white;
    box-sizing: border-box;
}
.resultSelect span{
    padding: 5px 15px 0 15px;
    font-size: 1.5em;
    font-weight: bold;
}

/***media query***/
@media (max-width:373px){
    body,
    .resultSelect form input,
    .resultSelect div,
    .resultSelect span{
      font-size: 1em;
    }
    .resultSelect span{
      padding: 5px 5px 0 5px;
      font-size: 1em;
    }
    .resultSelect form input,
    .resultSelect input.answer{
      max-width: 130px;  
    }
}
@media (max-width:541px){
    div #toAmount{
        margin-top: 1em;
    }
}